In [1]:
import pandas as pd

In [3]:
file = "worldweather.csv"

df = pd.read_csv(file)

df.head()

,Unnamed: 0,city,cloudiness,country,date,humidity,lat,long,max temp,wind speed
0,0,hilo,90,US,1578272660,58,19.71,-155.08,82.40,8.05
1,1,longyearbyen,64,NO,1578272713,59,78.22,15.63,-8.16,3.94
2,2,srednekolymsk,12,RU,1578272714,81,67.46,153.71,-10.25,3.09
3,3,ribas do rio pardo,31,BR,1578272714,61,-20.45,-53.76,75.36,6.17
4,4,vaini,75,IN,1578272714,82,15.34,74.49,68.00,4.70

In [6]:
df_web = df.to_html()

txtfile = open("output.txt", "w")

txtfile.write(df_web)

txtfile.close()